.listContainer {
  background-color: #f8f9fa;
  padding: 1.5rem;

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .medicineDetails {
    padding: 2rem;
    z-index: 1;
    position: relative;
    background-color: #f8f9fa;

    h3 {
      text-align: center;
      margin-bottom: 2rem;
    }

    .medicineDetailsList {
      padding-left: 0;
      list-style: none;

      .listPrice {
        text-align: left;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
      }

      .manufacturerMainList {
        padding-left: 0;
        .manufacturerList {
          padding-left: 0;
          margin-bottom: 1rem;
          list-style: none;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .discountButton {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #6f42c1;
        background-color: #6f42c1;
        border-radius: 0.2rem;
        color: white;
        font-size: 1rem;
      }

      .pharmacyWebsite {
        margin-bottom: 1rem;
      }
    }
  }

  .filters {
    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      li {
        button {
          outline: none;
          border: 1px solid black;
          border-radius: 0.2rem;
          padding: 0.2rem 0.5rem;
          background-color: white;
          font-size: 0.7rem;
          color: black;

          &:hover,
          .active {
            border: 1px solid #6f42c1;
            background-color: #6f42c1;
            color: white;
          }
        }
      }
    }
  }

  .list {
    .medicineName {
      font-size: 1.3rem;
    }
    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      li {
        margin-bottom: 1rem;
        button {
          width: 100%;
          display: flex;
          flex-direction: row;

          outline: none;
          border: 1px solid #6c757d;
          border-radius: 0.2rem;
          padding: 0.5rem 2rem;
          background-color: white;
          font-size: 0.7rem;
          color: black;

          &:hover {
            color: #6f42c1;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
