.header {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .w2mlogo {
    width: 35%;
    height: 20%;
    //   height: 10%;
  }

  .menuButton {
    width: 2rem;
    margin-top: 1rem;
    //  border: none;
    background-color: white;

    .menuList {
      display: block;
      position: absolute;
      background-color: #6f42c1;
      padding: 1rem;
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        width: 30%;
        text-decoration: none;
        color: white;
      }
    }
    .hiddenMenuList {
      display: none;
    }
  }

  .back {
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    color: black;
  }

  .signup {
    text-decoration: none;
    p {
      border: 1px solid black;
      border-radius: 0.2rem;
      padding: 0.5rem;
      font-size: 0.8rem;
      color: black;
    }
  }
}
